/*-----------------------------------------------------------------------------------------------------------
项目名称：悟空衫点亮活动
页面路径：olympic/detail.php
作者：yuxiaochen@lifang.com
-----------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房活动推广前端MVC框架
 2. 文件名称：mixins (混合)
 3. 作者：zhaohuagang@lifang.com
 4. taken from activity_template
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房前端MVC框架
 2. 文件名称：background.less(混合 -> 背景类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房前端MVC框架
 2. 文件名称：background.less(混合 -> 圆角类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房前端MVC框架
 2. 文件名称：background.less(混合 -> 块级化并居中类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1.  项目名称：悟空找房前端MVC框架
 2. 文件名称：display.less(混合 -> 显示方式类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房前端MVC框架
 2. 文件名称：float.less(混合 -> 浮动类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房前端MVC框架
 2. 文件名称：background.less(混合 -> 字体类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房前端MVC框架
 2. 文件名称：background.less(混合 -> 文本类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房前端MVC框架
 2. 文件名称：background.less(混合 -> 三角符号类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：app内嵌h5前端MVC框架
 2. 文件名称：mixins (混合)
 3. 作者：zhaohuagang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
html {
  font-size: 20px;
}
body {
  font-size: 20px;
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 22.5px !important;
  }
  body {
    font-size: 22.5px !important;
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 23.4375px !important;
  }
  body {
    font-size: 23.4375px !important;
  }
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 25px !important;
  }
  body {
    font-size: 25px !important;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 25.875px !important;
  }
  body {
    font-size: 25.875px !important;
  }
}
@media only screen and (min-width: 435px) {
  html {
    font-size: 27.1875px !important;
  }
  body {
    font-size: 27.1875px !important;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 30px !important;
  }
  body {
    font-size: 30px !important;
  }
}
.sprite {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.sprite-1 {
  width: 112px;
  height: 71px;
  background-position: -5px -5px;
}
.sprite-10 {
  width: 148px;
  height: 49px;
  background-position: -127px -5px;
}
.sprite-11 {
  width: 128px;
  height: 28px;
  background-position: -285px -5px;
}
.sprite-12 {
  width: 68px;
  height: 37px;
  background-position: -423px -5px;
}
.sprite-13 {
  width: 69px;
  height: 67px;
  background-position: -285px -52px;
}
.sprite-14 {
  width: 91px;
  height: 29px;
  background-position: -364px -52px;
}
.sprite-15 {
  width: 18px;
  height: 29px;
  background-position: -465px -52px;
}
.sprite-16 {
  width: 55px;
  height: 47px;
  background-position: -5px -91px;
}
.sprite-17 {
  width: 55px;
  height: 47px;
  background-position: -70px -91px;
}
.sprite-18 {
  width: 38px;
  height: 38px;
  background-position: -135px -91px;
}
.sprite-19 {
  width: 67px;
  height: 42px;
  background-position: -183px -91px;
}
.sprite-2 {
  width: 85px;
  height: 84px;
  background-position: -364px -91px;
}
.sprite-20 {
  width: 78px;
  height: 78px;
  background-position: -5px -185px;
}
.sprite-21 {
  width: 78px;
  height: 78px;
  background-position: -93px -185px;
}
.sprite-22 {
  width: 135px;
  height: 135px;
  background-position: -181px -185px;
}
.sprite-23 {
  width: 50px;
  height: 28px;
  background-position: -326px -185px;
}
.sprite-24 {
  width: 498px;
  height: 88px;
  background-position: -5px -330px;
}
.sprite-25 {
  width: 30px;
  height: 40px;
  background-position: -459px -91px;
}
.sprite-26 {
  width: 17px;
  height: 159px;
  background-position: -459px -141px;
}
.sprite-27 {
  width: 27px;
  height: 40px;
  background-position: -5px -428px;
}
.sprite-28 {
  width: 10px;
  height: 10px;
  background-position: -493px -52px;
}
.sprite-29 {
  width: 10px;
  height: 10px;
  background-position: -260px -72px;
}
.sprite-3 {
  width: 22px;
  height: 32px;
  background-position: -135px -141px;
}
.sprite-30 {
  width: 67px;
  height: 79px;
  background-position: -513px -5px;
}
.sprite-31 {
  width: 47px;
  height: 23px;
  background-position: -499px -94px;
}
.sprite-32 {
  width: 47px;
  height: 26px;
  background-position: -499px -127px;
}
.sprite-33 {
  width: 190px;
  height: 71px;
  background-position: -42px -428px;
}
.sprite-34 {
  width: 16px;
  height: 25px;
  background-position: -556px -94px;
}
.sprite-4 {
  width: 48px;
  height: 48px;
  background-position: -486px -163px;
}
.sprite-5 {
  width: 79px;
  height: 138px;
  background-position: -242px -428px;
}
.sprite-6 {
  width: 66px;
  height: 101px;
  background-position: -513px -221px;
}
.sprite-7 {
  width: 117px;
  height: 74px;
  background-position: -331px -428px;
}
.sprite-8 {
  width: 139px;
  height: 32px;
  background-position: -5px -512px;
}
.sprite-9 {
  width: 145px;
  height: 40px;
  background-position: -331px -512px;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  color: #fff;
  padding: .5rem;
}
.wrapper > .choose-box {
  border: 1px solid #00b7ce;
  height: 15rem;
  margin-bottom: 1rem;
}
.wrapper > .choose-box > .icon {
  color: #00a7ba;
  font-size: 8rem;
  text-align: center;
  line-height: 15rem;
}
.wrapper > .location-info {
  border-bottom: 1px solid #00b7ce;
  text-align: left;
  padding: 0.4rem 1.1rem;
  position: relative;
}
.wrapper > .location-info > .sprite-34 {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  *display: inline ;
  *zoom: 1 ;
}
.wrapper > .location-info > span {
  color: #fff;
  font-size: 0.7rem;
}
.wrapper > .form {
  padding: 1rem 0.5rem;
  text-align: left;
}
.wrapper > .form > .row {
  width: 100%;
  font-size: 0.7rem;
  margin-bottom: 0.7rem;
  padding-left: 0.8rem;
}
.wrapper > .form > .row input {
  background-color: #122243;
  border: 1px solid #00b7ce;
  -webkit-appearance: none;
  outline: medium;
  padding: 0.2rem;
  width: 70%;
  font-size: 0.7rem;
  color: #00b7ce;
}
.wrapper > .form > .row label {
  color: #01fff5;
}
.wrapper > .form > .button {
  background-color: #febb26;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.wrapper > .form > .button > span {
  color: #fff;
  font-size: 1.3rem;
}
