/*-----------------------------------------------------------------------------------------------------------
项目名称：悟空找房邀您一起挑月饼看楼盘啦
页面路径：nqzqplssy/wap.php （H5专题页）
作者：yuxiaochen@lifang.com
-----------------------------------------------------------------------------------------------------------*/

@import "../../public/less/mixins.less";
@import "../../public/less/wap.less";
.wrapper {
    text-align: center;
}

.content {
    margin-top: 100px;
}

.circle {
    position: relative;
    text-align: center;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    background-color: #955F4B;
    -webkit-transform: rotateX(-62.5deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(-62.5deg) rotateY(0deg) rotateZ(0deg);
}

.s-circle {
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
}

.s1 {
    background-color: pink;
    top: 125px;
    left: 10px;
}

.s2 {
    background-color: red;
    bottom: 10px;
    left: 125px;
}

.s3 {
    background-color: green;
    top: 10px;
    left: 125px;
}

.s4 {
    background-color: white;
    top: 125px;
    right: 10px;
}
