/*-----------------------------------------------------------------------------------------------------------
项目名称：悟空找房邀您一起挑月饼看楼盘啦
页面路径：nqzqplssy/wap.php （H5专题页）
作者：yuxiaochen@lifang.com
-----------------------------------------------------------------------------------------------------------*/

@import "../../public/less/mixins.less";
@import "../../public/less/wap.less";
.wrapper {
    text-align: center;
    img {
        width: 100%;
    }
    // 转动圆盘
    .turntable {
        position: relative;
        background-color: #302d50;
        height: 400px;
        margin-top: -1px;
        padding-top: 50px;
        overflow: hidden;
        .table {
            position: absolute;
            left: 0;
            @media screen and (device-aspect-ratio: 40/71) {
                top: 170px;
            }
            top: 150px;
        }
        .item {
            border: 1px solid #D69762;
            display: table;
            padding: 10px;
            width: 220px;
            height: 130px;
            position: absolute;
            top: 35px;
            left: 50%;
            margin-left: -110px;
            .content {
                background-color: rgba(214, 151, 98, 0.5);
                display: table-cell;
                padding: 10px 15px;
                vertical-align: middle;
                .title {
                    width: 80px;
                    height: 20px;
                    margin-bottom: 5px;
                }

                p {
                    color: #fff;
                    font-size: 14px;
                    letter-spacing: 3.5px;
                }
            }
            &:before {
                content: " ";
                width: 208px;
                height: 176px;
                border: 1px solid #D69762;
                position: absolute;
                top: -7px;
                left: 4px;
            }
        }
        .arrow {
            position: absolute;
            left: 50%;
            margin-left: -20px;
            top: 155px;
            &:after,
            &:before {
                border: 10px solid transparent;
                border-top: 10px solid #955F4B;
                width: 0;
                height: 0;
                position: absolute;
                top: 20px;
                content: ' '
            }
            &:before {
                border-top-color: #D69762;
                top: 21px;
            }
        }
        .cake {
            width: 60px;
            height: 30px;
            position: absolute;
        }
        .cake-1 {
            left: 50%;
            margin-left: -50px;
            bottom: 15px;
            width: 80px;
        }
        .cake-left-2 {
            left: 25%;
            margin-left: -50px;
            bottom: 25px;
            width: 70px;
        }
        .cake-right-2 {
            right: 28%;
            margin-right: -50px;
            bottom: 25px;
            width: 70px;
        }
        .cake-left-3 {
            left: 10%;
            margin-left: -50px;
            bottom: 50px;
            width: 60px;
        }
        .cake-right-3 {
            right: 10%;
            margin-right: -50px;
            bottom: 50px;
            width: 60px;
        }
        .cake-left-4 {
            @media screen and (device-aspect-ratio: 40/71) {
                left: 25%;
                bottom: 70px;
            }
            left: 20%;
            margin-left: -50px;
            bottom: 85px;
            width: 50px;
        }
        .cake-right-4 {
            @media screen and (device-aspect-ratio: 40/71) {
                right: 25%;
                bottom: 70px;
            }
            right: 20%;
            margin-right: -50px;
            bottom: 85px;
            width: 50px;
        }
        .cake-left-5 {
            @media screen and (device-aspect-ratio: 40/71) {
                left: 45%;
                bottom: 80px;
            }
            left: 40%;
            margin-left: -50px;
            bottom: 95px;
            width: 40px;
        }
        .cake-right-5 {
            @media screen and (device-aspect-ratio: 40/71) {
                right: 45%;
                bottom: 80px;
            }
            right: 40%;
            margin-right: -50px;
            bottom: 95px;
            width: 40px;
        }
        .spot-list {
            position: absolute;
            bottom: 80px;
            left: 50%;
            width: 200px;
            margin-left: -115px;
            .spot-item {
                .inline-block();
                width: 10px;
                margin-left: 5px;
                height: 10px;
                .border-radius(5px);
                border: 1px solid #D69762;
                &.active {
                    background-color: #D69762;
                }
            }
        }
    }
}
