/*-----------------------------------------------------------------------------------------------------------
项目名称：悟空找房邀您一起挑月饼看楼盘啦
页面路径：nqzqplssy/web.php （web专题页）
作者：luwei@lifang.com
-----------------------------------------------------------------------------------------------------------*/

@import "../../public/less/mixins.less";
.content {
    text-align: center;
    .table-container {
        position: relative;
        text-align: center;
        height: 500px;
        background-color: #31304f;
        &>.table {
            margin: 0 auto;
            background-color: #31304f;
            img {
                margin-top: 50px;
                width: 80%;
            }
        }
    }
}
